<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="HotelBookingDB" connectionString="Server=YOUR_SERVER_NAME;Database=HotelBooking;User Id=YOUR_USERNAME;Password=YOUR_PASSWORD;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="LogFilePath" value="C:\Logs\HotelBookingSystem.log"/>
    <add key="MaxBookingDays" value="30"/>
  </appSettings>
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  <dependentAssembly>
    <assemblyIdentity name="Microsoft.EntityFrameworkCore" publicKeyToken="adb9793829ddae60" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
  </dependentAssembly>
</assemblyBinding>
</configuration>